<mat-card class="cardWithShadow m-4" style="background-color: white; padding: 20px; align-items: center;">
  <!-- Title at the top -->
  <h1 style=" text-align: center; color: #6d5dfc; font-size: 2em; font-weight: 700; letter-spacing: 1px; text-shadow: 0 2px 8px #e0e3ef; animation: fadeInDown 1s cubic-bezier(.4,0,.2,1); flex-shrink: 0;">
    Dashboards Overview </h1>
      <div style=" align-items: center; display: flex; justify-content: center;">
      <div class="dashboard-left">
        <div class="objectifs-badge">
          <span class="star">★</span>
          Objectifs
        </div>
        <div class="dashboard-paragraph">
          <span class="arrow">➔</span>
          <span>
            Analyser les données de flux téléphonique et la ventilation des appels vers les hôtels :
            <span class="highlight">Dashboard Colt</span>
          </span>
        </div>
        <div class="dashboard-paragraph">
          <span class="arrow">➔</span>
          <span>
            Puis après le débordement vers la réservation centrale :
            <span class="highlight">Dashboard Webhelp</span>
          </span>
        </div>
        <div class="dashboard-paragraph">
          <span class="arrow">➔</span>
          <span>
            Ainsi que les réservations générées grâce au débordement d’appel vers la centrale de réservation :
            <span class="highlight">Dashboard Réservation</span>
          </span>
        </div>
      </div>
      <!-- Right Side: GIF Image -->
    <div style="justify-content:center; display: flex; margin-top: -1rem; width: 35%;">
      <img 
        src="assets/images/blog/Browser_stats.svg" 
        alt="KPIs Overflow" 
        style="width: 65%; height: 17.5rem; margin-top: 1rem;"
      />
    </div>
    </div>

    <div>
      <h2 style="text-align: center; color: #6d5dfc;  font-weight: 700; letter-spacing: 1px; text-shadow: 0 2px 8px #e0e3ef; animation: fadeInDown 1s cubic-bezier(.4,0,.2,1); flex-shrink: 0; margin-top: 0.5rem; margin-bottom: 1rem;"> Liste des abréviations</h2>
      <ul class="abbreviations-list">
        <li style="background-color: #eef2ff;">
          <span>
            <span  style="color: #6d5dfc; font-weight: 700;">SVI</span>
            <span class="abbr-en" >(Serveur Vocal Interactif)</span>
          </span>
          <span class="abbr-desc" >Système automatisé qui guide les appelants via un menu vocal</span>
        </li>
        <li style="background-color: #eef2ff;">
          <span>
            <span style="color: #6d5dfc; font-weight: 700;" >VDN</span>
            <span class="abbr-en">(Vector Directory Number)</span>
          </span>
          <span class="abbr-desc">Numéro virtuel utilisé pour diriger les appels entrants selon des règles définies</span>
        </li>
        <li style="background-color: #eef2ff;">
          <span>
            <span style="color: #6d5dfc; font-weight: 700;" >ACW</span>
            <span class="abbr-en">(After Call Work)</span>
          </span>
          <span class="abbr-desc">Temps que prend un agent pour finaliser le traitement d’un appel après avoir raccroché</span>
        </li>
        <li style="background-color: #eef2ff;">
          <span>
            <span style="color: #6d5dfc; font-weight: 700;">ACD</span>
            <span class="abbr-en">(Automatic Call Distributor)</span>
          </span>
          <span class="abbr-desc">Système qui distribue automatiquement les appels entrants vers les agents disponibles les plus appropriés</span>
        </li>
        <li style="background-color: #eef2ff;">
          <span>
            <span style="color: #6d5dfc; font-weight: 700;" >AHT</span>
            <span class="abbr-en">(Average Handling Time)</span>
          </span>
          <span class="abbr-desc">Durée moyenne nécessaire pour traiter un appel</span>
        </li>
        <li style="background-color: #eef2ff;">
          <span>
            <span style="color: #6d5dfc; font-weight: 700;" >AVG</span>
            <span class="abbr-en">(Average)</span>
          </span>
          <span class="abbr-desc">Moyenne</span>
        </li>
      </ul>
    </div>

</mat-card>
